<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Loewenstark Tracking</label>
    <label lang="en">Loewenstark Tracking</label>
    <version>1.0.4</version>
    <license>proprietary</license>
    <link>http://www.loewenstark.com</link>
    <author>Löwenstark digital solutions GmbH</author>

    <compatibility minVersion="5.2.0" />

    <changelog version="1.0.0">
        <changes lang="de">Erste Veröffentlichung</changes>
        <changes lang="en">Initial Release</changes>
    </changelog>
</plugin>